<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Personality Insights</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="ct" content="<%= ct %>">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_orange-indigo.min.css" />
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="wrapper">
    <div id="headEnclosure">
      <p class="label left">Twitter Screen Name</p>
      <div class="mdl-textfield mdl-js-textfield left">
        <input class="mdl-textfield__input" type="text" id="screenName">
        <label class="mdl-textfield__label" for="screenName">Twitter ID</label>
      </div>
      <div class="clear"></div>
      <div class="center" style="width:200px;">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="getSuggestions">
          Get Suggestions
        </button>
        <div class="mdl-spinner mdl-js-spinner is-active" id="spinner"></div>
      </div>
    </div>
    <h3 class="text-center">Outgoing</h3>
    <div class="suggestion left">
      <span class="mdl-chip accept">
        <span class="mdl-chip__text">Powerful</span>
      </span>
      <span class="mdl-chip accept">
        <span class="mdl-chip__text">Traditional</span>
      </span>
      <img src="images/car_ad001.jpg" width="100%" />
    </div>
    <div class="suggestion right">
      <span class="mdl-chip reject">
        <span class="mdl-chip__text">Weak</span>
      </span>
      <span class="mdl-chip reject">
        <span class="mdl-chip__text">Convertible</span>
      </span>
      <img src="images/car_ad004.jpg" width="100%" />
    </div>
    <div id="#listSuggestions"></div>
    <div class="clear"></div>
  </div>
  <script>
    $('#getSuggestions').on('click', function(){
      var id = $('#screenName').val();
      $('#listSuggestions').html('');
      $('#spinner').show();
      $.ajax(
        {
          type: "POST", 
          url: "/tweets", 
          data: {screen_name: id},
          success: function(data){
            var html = '<div class="suggestion left">\
                          <span class="mdl-chip accept">\
                            <span class="mdl-chip__text">Powerful</span>\
                          </span>\
                          <span class="mdl-chip accept">\
                            <span class="mdl-chip__text">Traditional</span>\
                          </span>\
                          <img src="images/'+data.sugg+'" width="100%" />\
                        </div>';
            $('#listSuggestions').append(html);
            $('#spinner').hide();
          }
        }
      );
    });
  </script>
</body>

</html>
